html,
body {
    padding: 0;
    margin: 0;
    background: #EEEEEE;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Aglet Slab', serif;
}

body,
p,
a {
    font-family: 'JAF Facit', 'Halyard Display', 'Helvetica', 'Arial', sans-serif;
    letter-spacing: .025rem;
    font-size: 1.2rem;
    color: #111111;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    padding-top: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

a {
    font-weight: 600;
    letter-spacing: .05rem;
    color: midnightblue;
}

p {
    padding: 0 0 2rem 0;
}

.subheader {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

.has-overline {
    padding-top: .5rem;
    margin-top: 0;
}

blockquote {
    font-family: 'Aglet Slab', serif;
}

.site-title {
    text-align: center;
    font-weight: bolder;
}

img {
    max-width: 100%;
    height: auto;
    max-height: 640px;
}


/* TOP NAV and FOOTER */
.topnav {
    margin: 0;
    padding: 1rem 7rem;
    background: #ffffff;
    box-shadow: 0 30px 40px rgba(0,0,0,.2);
}

.topnav--div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    max-width: 120px;
}

.topnav li,
footer li {
    /* list-style-type: none;
    float: left; */
    list-style: none;
    display: inline-block;
}

footer {
    background-color: #111111;
    color: #eeeeee;
    margin: 0;
    padding: 1rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topnav a,
footer a{
    text-decoration: none;
    padding: 1rem;
    display: grid;
    color: #0B5679;
}

.topnav a:hover,
footer a:hover {
    text-decoration: underline;
    color: #0470A2;
    padding: 1rem;
    display: grid;
}

/* overwrite footer link color */
footer a {
    color: white;
}

/* overwrite footer link hover color */
footer a:hover {
    color: #16AFDB;
}

/* BODY */
.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

section {
    padding: 2rem 8rem;
}

.section-hero {
    padding-top: 8rem;
}

.narrative {
    padding: .66rem 0 2rem 0;
}

.image-set {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: start;
    justify-content: space-between;
    max-width: 75%;
    flex-wrap: wrap;
}

.image-set .caption {
    max-width: 320px;
}

.design-image {
    max-width: 320px;
}
.design-image-small {
    max-width: 96px;
}

a {
    color: #0B5679;
}

a:hover {
    text-decoration: underline;
    color: #0470A2;
}

.caption {
    padding: 0 0 2rem 0;
    margin: 0;
    font-size: .9rem;
    font-weight: 500;
}

.caption-mock-up {
    padding: 0 0 2rem 0;
    margin: 0;
    font-size: .9rem;
    font-weight: 500;
}

.caption-link {
    font-size: .9rem;
    font-weight: 500;
}

.scrunch {
    padding-bottom: 0;
    margin-bottom: 0;
}